# ignore all files starting with . or ~
.*
~*

# ignore node dependency directories
node_modules/

# --------------------------------------------------------
# BEGIN Explictly Allowed Files (i.e. do NOT ignore these)
# --------------------------------------------------------

# track these files, if they exist
!.editorconfig
!.git-blame-ignore-revs
!.gitignore
!.nvmrc